<div class="page-container">
  <div class="title">
    <h1>Weather <i class="fa fa-globe" aria-hidden="true"></i> Forecast</h1>
    <i class="caption">How's today's weather?</i>
  </div>


  <div *ngIf="weather!=null" class="info">
    <div class="location info__block">
      <div><i class="fa fa-plane" aria-hidden="true"></i></div>
      <div>{{ cityName }}</div>
    </div>
    <div class="temperature info__block">
      <div><i class="fa fa-thermometer-empty" aria-hidden="true"></i></div>
      <div>
        <div>low: {{ weather.daily.temperature2MMin }}°C</div>
        <div>high:{{ weather.daily.temperature2MMax }}°C</div>
      </div>
    </div>
    <div class="rain info__block">
      <div><i class="fa fa-tint" aria-hidden="true"></i></div>
      <div>{{ weather.daily.rainSum }} mm</div>
    </div>
  </div>

  <button (click)="navigateToDetailsPage()" class="button--next" mat-fab color="accent" aria-label="go to detail page">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>

