<div class="container">
  <h1 class="title">Weather <i class="fa fa-globe" aria-hidden="true"></i> Forecast</h1>

  <div class="info">
    <div class="location info__block">
      <div><i class="fa fa-plane" aria-hidden="true"></i></div>
      <div>{{ cityName }}</div>
    </div>
    <div class="temperature info__block">
      <div><i class="fa fa-thermometer-empty" aria-hidden="true"></i></div>
      <div>{{ temperature }}°C</div>
    </div>
    <div class="rain info__block">
      <div><i class="fa fa-tint" aria-hidden="true"></i></div>
      <div>{{ rain }}%</div>
    </div>
  </div>

  <button class="button--next" mat-fab color="accent" aria-label="go to detail page">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
