<div class="page-container">
  <div class="title">
    <h1>Weather <i class="fa fa-globe" aria-hidden="true"></i> Forecast</h1>
    <h2><b><i class="fa fa-compass" aria-hidden="true"></i> {{cityName | uppercase}}</b></h2>
    <h3>{{date | date:'MMM d, y'}}</h3>
  </div>


  <div class="info" *ngIf="weather">
    <div class="info__block">
      <div class="label">Temperature</div>
      <div>{{ weather.currentWeather.temperature }}°C</div>
    </div>
    <div class="info__block">
      <div class="label">Rain</div>
      <div>{{ weather.snapshot!.rain }} mm</div>
    </div>
    <div class="info__block">
      <div class="label">Wind
        <mat-icon
          matTooltip="wind direction includes N, NNE, NE, ENE, E, ESE, SE, SSE, S, SSW, SW, WSW, W, WNW, NW, NNW"
          matTooltipPosition="above">info
        </mat-icon>
      </div>
      <div>{{ weather.currentWeather.winddirection | windDirection }} {{ weather.currentWeather.windspeed }} km/h</div>
    </div>
    <div class="info__block">
      <div class="label">Humidity</div>
      <div>{{ weather.snapshot!.humidity }}%</div>
    </div>
    <div class="info__block">
      <div class="label">Pressure</div>
      <div>
        <div>Surface: {{ weather.snapshot!.surfacePressure }} hPa</div>
        <div>Sealevel: {{ weather.snapshot!.pressureMsl }} hPa</div>
      </div>
    </div>
    <div class="info__block">
      <div class="label">Visibility</div>
      <div>
        <div *ngIf="weather.snapshot!.visibility <= 10000">{{ weather.snapshot!.visibility }} m</div>
        <div *ngIf="weather.snapshot!.visibility > 10000">> 10000m</div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="chartParams != null">
    <app-chart *ngFor="let params of chartParams" [params]="params"></app-chart>
  </ng-container>

  <button (click)="navigateToHomePage()" class="button--next" mat-fab color="accent" aria-label="go to detail page">
    <mat-icon>home</mat-icon>
  </button>

</div>

